@import url('https://fonts.googleapis.com/css2?family=Balsamiq+Sans&display=swap');

body {
    background-color: #23272A;
    color: white;
    font-family: 'Balsamiq Sans', cursive;
}

.mainHeader {
    padding-top: 10px;
}

.inputField{
    padding-top: 15px;
    justify-content: center;
    text-align: center;
}